/* Config */
@import "./config/_reset.css";

/* Components */
@import "./components/video.css";
@import "./components/welcome.css";


body {
    background-color: #151212;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



@media screen and (max-width: 768px) {
    /* #call{
        grid-template-columns: 1fr;
    }
     */
    .logo{
        grid-column: 1/-1;
    }
    .logo__button{
        display: none;
    }
    .logo__button-active{
        display: flex;
    }
    #myStream{
        grid-column: 1/-1;
    }
    .message{
        display: none;}

    #myStream.active{
        display: none;
    }
    .message.active{
        display: flex;
        grid-column: 1/-1;
        grid-row: unset;
    }
}